

#main h1 { 
	color: orangered; 
	margin: 5px 30px;
} 
#main p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	margin: 20px 20px 5px 20px;
	padding-top: 20px;
} 
.row { 
	display: flex; 
} 
.cell { 
	border: none; 
	width: 80px; 
	height: 70px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor: pointer; 
} 
.cell:active { 
	outline: none; 
} 
/* 3*3 Grid */
#b1{ 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b2 { 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b3 { 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b4 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 
	
#b5 { 
	border: 1px solid gray; 
} 

#b6 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b7 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b8 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b9 { 
	border-top: 1px solid gray; 
	border-left: 1px solid gray; 
} 
/* Reset Button */
#but { 
	box-sizing: border-box; 
	width: 95px; 
	height: 40px; 
	border: 1px solid dodgerblue; 
	margin-left: 35px; 
	margin-top: 20px;
	border-radius: 8px; 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 

	background-color: whitesmoke; 
	color: dodgerblue; 
	font-size: 20px; 
	cursor: pointer; 
} 

/* Player turn space */
#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: rgb(245, 248, 252); 
	font-size: 20px; 
	background-color: rgb(188, 74, 199);
	border-radius: 10px;
	padding: 10px;
	height: 30px;
} 

/* Main Container */
#main { 
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	border: 5px;
	width: 98%;
	border-color: rgb(160, 70, 245);
	border-width: 3px;
	border-radius: 10px;
	background-color: rgb(206, 226, 243);
	padding-bottom: 20px;
} 

/* Game Instruction Text */
#ins { 
	font-family: Verdana,Geneva, 
					Tahoma, sans-serif; 
	color: dodgerblue; 
}
