* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px; /* Remove default body margin */
  width: 100%;
  height: 100%;
  background-image: url('../images/back.jpg'); /* Replace 'your-photo-url.jpg' with the URL of your photo */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Do not repeat the background */
}

.welcome{
  color: white;
  padding-top: 10px;
}
.userInputCon{
  display: flex;
  padding-top: 40px;
}
.userInputCon label{
 margin: 10px;
 color: white;
}
.selectStyle{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
}
.button-container{
  display: flex;
  justify-content: center;
}
.btntext{
  margin: 10px 10px;
  font-weight: bold;
}
.text-chat-button,
.video-chat-button {
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #007bff; /* blue border */
  border-radius: 5px;
  background-color:  #007bff; /* white background */
  color:  #ffffff; /* blue text color */
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.text-chat-button:hover,
.video-chat-button:hover {
  background-color: #ffffff ;/* blue background on hover */
  color:#007bff; /* white text color on hover */
  transform: scale(1.1);
}

.marqueeStyle{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #4864fd;
  background-color: orange;
  padding: 10px,
}
.serviceSection{
  height: 150px;
}
.footer{
  height: 90px;
}
.or{
  margin-top: 50px;
  color: white;
}
.footerbtn{
  outline: none;
  border: none;
  padding: 10px;
  border-radius:  10px;
  margin: 0px 5px;
  cursor: pointer;
}
/* Media queries for Responsiveness */

/* Media query for smartphones */
@media only screen and (max-width: 767px) {
  /* Styles for smartphones */
.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px; /* Remove default body margin */
  width: 100%;
  height: 100%;
  background-image: url('../images/back.jpg'); /* Replace 'your-photo-url.jpg' with the URL of your photo */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background */
  background-repeat: no-repeat;
}
  .selectStyle{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 25%;
    margin-bottom: 20px;
  }
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.or{
  margin-top: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footerbtn{
  outline: none;
  border: none;
  padding: 10px;
  border-radius:  10px;
  margin: 0px 2px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
}
