/* Modal Content Styles */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px 100px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: modal-drop 0.5s ease forwards;
  }
  
  @keyframes modal-drop {
    /* Start from above the viewport */
    from {
      transform: translateY(-100%);
    }
    /* Drop down to the middle of the viewport */
    to {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* Modal Overlay Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(4px); /* Apply blur effect to the background */
    z-index: 999; /* Ensure the modal appears above other content */
  }
  #ageTitle{
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #confirmAge{
    width: 20px;
    height: 20px;
  }
  #ageque{
    margin-left: 10px;
  }
  #confirm{
    margin-left: 10px;
  }
  .verifyCon{
    display:flex;
    margin-top: 10px;
  }
  .verifybtn{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease-in-out;
  }

  .verifybtn:hover {
    transform: scale(1.1); /* Scale the button to 110% of its original size */
  }

  #yebtn{
    background-color: rgb(53, 121, 223);
  }
  #nobtn{
    background-color: rgb(233, 80, 59);
  }


  /* Media queries */

  /* Media query for smartphones */
@media only screen and (max-width: 767px) {
  /* Styles for smartphones */
  .modal-content{
    position: absolute;
    margin: auto;
    padding: 20px;
    width: 80%;
  }
}
